page-tvShows {

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    transition: opacity 1s;
    opacity: 0;
    -webkit-animation-delay:200ms;
    animation-delay:200ms;
    border-radius: 15px;
  }

  img.ng-lazyloaded {
    opacity: 1;
  }


  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }


  .containerBox {
    position: relative;
    display: inline-block;
  }

  .text-box {
    position: absolute;
    height: 20%;
    text-align: left;
    width: 100%;
    margin: auto;
    top: 80.5%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 13px;
    color: white;
    background: rgba(2, 2, 8, 0.66);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;

  }
  .dataNumberTV {
    margin-top: 5%;
    margin-left: 2%;
    font:400 13px 'proxima_nova_ltsemibold';
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px  1px 0 #000,
      1px  1px 0 #000;
  }

  .img-loaded + ion-spinner {
    display:none;
  }
  .searchButton{
    color: #ffffff;
  }

}
