page-auth {

  form {
    .button {
      margin-top: 30px;
    }
  }

  .socialButton {
    margin-top: 20px;
  }

  .authInput{
    color: #ffffff!important;
  }

  .authLabel{
    color: #ffffff!important;
  }

  .authItem{
    background-color: #2d2d2d!important;
  }


}
