page-home {

  .img-responsive {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    transition: opacity 1s;
    opacity: 0;
  }

  img.ng-lazyloaded {
    opacity: 1;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  ion-card.containerBoxx a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }

  .containerBoxx {
    position: relative;
    display: inline-block;
    min-width: 100%;
    -webkit-box-shadow: inset 0px 0px 150px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 150px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 150px 0px rgba(0,0,0,1);
  }
  ion-card {
    position: relative;
    text-align: center;
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
  }
  
  .card-title {
    position: absolute;
    top: 70%;
    width: 100%;
    color: #fff;
    padding: 0.5em;
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px  0.5px 0 #000,
      0.5px  0.5px 0 #000;
    font:400 15px 'proxima_nova_ltsemibold';
  }

  .card-subtitle {
    position: absolute;
    top: 0;
    left: -38%;
    width: 100%;
    color: #fff;
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px  0.5px 0 #000,
      0.5px  0.5px 0 #000;
  }

  ion-card.dataNumber {
    margin-top: 1.5%;
    margin-left: 2%;
    font:400 10.5px 'proxima_nova_ltsemibold';
  }

  ion-card.dataNumber2 {
    color: rgb(255, 255, 255);
    font-size: 10px;
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px  0.5px 0 #000,
      0.5px  0.5px 0 #000;
    float:right;
    margin-top: 1.5%;
    margin-right: 2.5%;
  }

  ion-card.containerBox a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
  }
  .center {
    margin-top: 15em;
  }

  .containerBox {
    position: relative;
    display: inline-block;
    padding:2px;
  }

  .text-box {
    position: absolute;
    height: 20%;
    text-align: left;
    width: 100%;
    margin: auto;
    top: 80%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 13px;
    color: white;
    background: rgba(2, 2, 8, 0.66);
  }

  .text-box-news {
    position: absolute;
    height: 50%;
    text-align: left;
    width: 100%;
    margin: auto;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 13px;
    color: white;
    background: rgba(2, 2, 8, 0.66);
  }


  .mini-box{
    position: absolute;
    height: 25%;
    text-align: left;
    float: right;
    width: 20%;
    margin: auto;
    top: 0;
    bottom: 70%;
    right: 0;
    left: 75%;
    font-size: 13px;
    color: white;
    z-index: 1;
  }



  .dataNumber{
    margin-top: 2%;
    margin-left: 2%;
    font:400 13px 'proxima_nova_ltsemibold';
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px  0.5px 0 #000,
      0.5px  0.5px 0 #000;
  }

  .homeText{
    color: #ffffff;

   font:400 18px 'proxima_nova_altbold';
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px  0.5px 0 #000,
      0.5px  0.5px 0 #000!important;

  }
}


